.gap-16px {
    gap: 1rem;
}

.gap-24px {
    gap: 1.5rem;
}

.gap-8px {
    gap: 0.5rem;
}

.p-40px {
    padding: 2.5rem;
}

.p-24px {
    padding: 1.5rem;
}

.pt-40px {
    padding-top: 2.5rem;
}

.pb-40px {
    padding-bottom: 2.5rem;
}

.px-40px {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.pr-16px {
    padding-right: 1rem;
}

.mt-4px {
    margin-top:0.25rem;
}

.mt-16px {
    margin-top: 1rem;
}

.mt-24px {
    margin-top: 1.5rem;
}

.mt-48px {
    margin-top: 3rem;
}

.mt-12px {
    margin-top: 0.75rem;
}

.mt-32px {
    margin-top: 2rem;
}

.mt-64px {
    margin-top: 4rem;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.min-w-100 {
    min-width: 100%;
}

.min-w-80 {
    min-width: 80%;
}

.w-80 {
    width: 80%;
}

.min-w-50 {
    min-width: 50%;
}

.w-50 {
    width: 50%;
}

.max-w-100 {
    max-width: 100%;
}

.min-w-110 {
    min-width: 110%;
}

.max-w-110 {
    max-width: 110%;
}

.h-64px {
    height: 8rem;
}
.h-56px {
    height: 7rem;
}